@font-face {
    font-family: 'spotify';
    src: url('./Roboto font/Roboto-Regular.ttf'),      
  }
  
*{
    margin: 0px;
    padding: 0px;
    font-family: spotify;
}

body{
    background-color: black;
    color:white;
}


.left{
    width: 25vw;  
}
.right{
    width: 75vw;  
    height: 87.5vh;
}

.home{
    font-size:1.3rem;
    padding: 30px;
    
}
.home ul li{
    list-style: none;
    width: 30px;
    display: flex;
    gap: 20px;
    padding-top: 30px;   
}

.library{
    min-height: 58vh;
    position: relative;
    margin-top: 10px;
}

.heading img{
    height: 20px;
    width: 20px;   
}

.heading{  
    gap: 15px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 14px;   
    align-items: center;
}
.footer{
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 10px;
    color: grey;
    gap:13px;
}
.footer a{
    color: grey;
}
.nav-svg img{
    height: 50px;
    width: 50px;
    filter: invert(1);
    
}
.nav{
    
    justify-content: space-between;
    padding: 10px; 
    background-color: rgb(12, 12, 12);
}
.nav button{
    margin-left: 12px;
    font-size:1.5rem;
    
}

.spotify-playlist{
    padding: 10px 10px 10px 25px;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
    height: 80vh;
    overflow: auto; 
}

.card{
    width: 190px;
    position: relative;
    background-color: rgb(12, 12, 12);
    padding:20px;
    margin-top: 20px;
    height: 40vh;
}

.card >*{
    padding-top: 10px;
}

.card img{
    width: 100%;
}
.hamburger{
    display: none;
}

.play{
    position: absolute;
    right: 23px;
    top: 170px;
    opacity: 0;
    transition: all 1s ease-out; 
}

::-webkit-scrollbar{
    width: 12px;
    margin: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
background-color: #222;
}

.signup{
    border: none;
    background-color:rgb(12, 12, 12); 
    color: white;
    font-weight: bold;
    outline: none;
}
#login{
    border-radius: 50px;
    font-size: 1rem;
    padding: 15px 40px 15px 40px;
    cursor:pointer;
    
}
#login:hover{
    font-size: 1.1rem;
    font-weight: bold; 
}

.songList{
    height: 300px;
    overflow: auto;
}
.songList ul{
    padding: 0 12px;
}
.songList ul li{
    list-style: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px;
    border: 1px solid black;
    margin: 12px 5px;
    padding: 13px;
    border-radius: 5px;
    overflow: hidden;
    
}
.playnow{
 display: flex;   
 justify-content: center;
align-items: center;
}
.playnow span{
    font-size: 10px;
    width: 64px;
    padding: 12PX;
}
.songList .info{
    font-size: 13px;
    width: 344px;
}
.seekbar{
 height: 10px;
 width: 35%;
 background-color: wheat;
 border: 2px solid white;
 position: relative;
 left: 30%;
 bottom: -100%;
 border-radius: 20px;
 overflow: hidden;
 cursor: pointer;
}
.songbuttons{
    position: absolute;
    left: 45%;
    }
.songinfotime{
        font-size: 1.3rem;
        position: absolute;
        left:10%;
        width: 200px;
    
        margin: 15px;
        color: rgb(78, 78, 78);
 }
#circle{
 height: 10px;
 width: 100%;
 background-color: rgb(255, 0, 0);
 position: relative;
 left: -90%;
 transition: 0s ease;
 border-radius: 20px;
 


}
.playsong{
    position:relative;
    bottom: 10px;
    height: 60px;
    display: flex;
    /* text-align: center; */
    /* justify-content: space-around; */
     
}

.songbuttons img{
    cursor: pointer;
}

@media (max-width: 650px){
    .left{
        background-color: red;
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 233px;
    }
    .right{
        width: 100%;
    }
    .playsong{
width:95vw ;
    }
    .hamburger{
        display: block;
    }
}
    
