.flex{
    display: flex;
    
}
.justify-center{
    justify-items: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.bg-grey{
    background-color:#121212;
    color: white;
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.616);
}
.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 10px;
}
.m-2{
    margin: 10px;
}
m-1{
    margin: 5px;
}
p-1{
    padding: 10px;
}